;;
;; not a working config.
;;
(use-modules (gnu)
             (gnu services)
             (gnu services ssh)
             (gnu services xorg)
             (gnu services desktop)
             (gnu services networking)
	     (gnu packages fonts)
	     (gnu packages terminals)
	     (gnu packages xorg)
             (qubes services agent))  ; <-- all Qubes integration

(operating-system
  (locale "en_AU.utf8")
  (timezone "Australia/Brisbane")
  (keyboard-layout (keyboard-layout "au"))
  (host-name "guix")
  (kernel-arguments (append %qubes-kernel-arguments '("quiet")))

  (packages (append (list (specification->package "emacs")
			  alacritty)
		    %base-packages))

  (services
   (append (list (service xfce-desktop-service-type)
		 (simple-service 'nonguix-substitutes guix-service-type
				 (guix-extension
				  (substitute-urls (list "https://substitutes.nonguix.org"))
				  (authorized-keys (list
						    (plain-file "non-guix.pub"
								"(public-key (ecc (curve Ed25519) (q #C1FD53E5D4CE971933EC50C9F307AE2171A2D3B52C804642A7A35F84F3A4EA98#)))")
						    ))))

		 ;; Networking: configured from qubesdb by qubes-guest-service-type
                 (service openssh-service-type)
                 (service tor-service-type)
                 (set-xorg-configuration
                  (xorg-configuration (keyboard-layout keyboard-layout)))

		 ;; Qubes guest integration: qrexec, qubesdb, qubes-rpc, PAM,
		 ;; udev, setuid qfile-unpacker, kernel modules, GUI agent.
		 (service qubes-guest-service-type))

	   (modify-services %desktop-services
			    (delete network-manager-service-type)
			    (delete wpa-supplicant-service-type))))
  (bootloader (bootloader-configuration
                (bootloader grub-bootloader)
                (targets (list "/dev/xvda"))
                (keyboard-layout keyboard-layout)))
  (swap-devices (list (swap-space
                        (target (uuid
                                 "43788bba-f17d-48e4-90f6-44b0b34005bc")))))

  ;; The list of file systems that get "mounted".  The unique
  ;; file system identifiers there ("UUIDs") can be obtained
  ;; by running 'blkid' in a terminal.
  (file-systems (cons* (file-system
                         (mount-point "/")
                         (device (uuid
                                  "58b897af-3d07-4a2f-9bae-7aba9f3792cd"
                                  'ext4))
                         (type "ext4")) %base-file-systems))
)  
